body{
  margin :0;
  padding: 0;
  font-family: 'Roboto','Hevetica', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  background-color: rgb(75, 115, 181);
}
h1, h2, h3, h4, h5, h6 {
  font-size:1em;
  margin: 0;
}
.wrape{
  
}
.content-wrap{
  display: flex;
  margin-top: 15px;
 
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.contacts{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.phone{
      font-size: 21px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase; 
      align-self:  baseline;
}
.hours{  
      font-size: 14px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-decoration: underline;   
      align-self:  flex-end;
}
a{
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aside{
  
}
.menu{
  width:200px;
  display:flex;
  flex-direction: column;
  align-items: center;
 margin-right: 25px;
}
 .menu__item{ 
  margin-top: 29px;
 }
 
  .menu__link{
   color: rgb(75, 115, 181);
   text-transform:uppercase;
  font-weight:bold;
  letter-spacing:2px;
  font-size: 12px;
 }
 .menu__link::before{
  content:"";
  width:25px;
  height:20px;
  background:url('/img/main_iconblue.png')center center  no-repeat ;
  display:inline-block;
  vertical-align:middle;
  margin-right:12px;
}
   .menu__link:hover{
     color:black;
   }
   .menu__link:hover::before{
    background:url('/img/main_icon.png') no-repeat ;  
  }
.menu__link_feed::before{
  background:url('/img/feed_icon.png') center center  no-repeat ;  
}
.menu__link_feed:hover:before{
  background:url('/img/feed_iconblack.png')   no-repeat ;  
}
.menu__link_team::before{
  background:url('/img/team_icon.png') center center  no-repeat ;  
}
.menu__link_team:hover:before{
  background:url('/img/team_iconblack.png')  no-repeat ;  
}
 
 .airplane_img{
   display:flex;       
 }
 .title{
   font-size: 49px;
   font-weight: bold;
 }
 .rates{
   margin-top: 5px;
 }
 
 .rates__list{
   margin-left:10px;
   margin-top: 55px;
   display:flex;
   justify-content: flex-start;
  
 }
 .rates__item{
   padding-right: 29px;
  
  
 }
 .rate{
   
   margin-top: 13px ;
   width:240px;
  display:inline-flex;
  flex-direction:column;
  align-items: center;
  

 }

 .rate__logo1{
  width: 70px;
height: 70px;
border-radius: 50%;
background: url('/img/flower.png') center no-repeat  rgb(75, 115, 181);
align-content: center;   
 }
 .rate__logo2{
  width: 70px;
height: 70px;
border-radius: 50%;
background: url('/img/star.png') center no-repeat  rgb(75, 115, 181);
align-content: center;   
 }
 .rate__logo3{
  width: 70px;
height: 70px;
border-radius: 50%;
background: url('/img/painter-palette.png') center no-repeat  rgb(75, 115, 181);
align-content: center;   
 }
 .rate__name{
   margin-top: 30px;
  letter-spacing: 2px;
   font-size: 11px;
   font-weight: bold;          
   text-transform: uppercase; 
  color: rgb(33, 33, 33);
 }
 .rate__inform{
  margin-top: 20px;
   text-align: center;
  font-size: 18px;
  font-family: "Roboto Light";
  line-height:30px;
  color: rgb(34, 31, 31);
 }
.rate__list{
  
  margin-left: 12px;
  font-size: 18px;
  font-family: "Roboto Light";
  color: rgb(34, 31, 31);
  list-style-type: disc;
}
.rate__item{
  margin-top:10px;
}
.rate__item:last-child{
  margin-top:13px;
}
 .rate__price{
   margin-top:23px;
  font-size: 18px;
  font-family: "Roboto Regular";
  color: rgb(32, 32, 32);
  text-align: center; 
  font-weight: bold; 
 }
 
 .price-font{
   display: inline;
   font-size: 54px;
 }
 .dollar{
  font-size: 25px;
 }
 .news{
   margin-top: 85px;
 }
 .news__list{
  margin-top: 16px;
   display:flex;
   flex-direction: column;

 }
 .news__item{
   margin-top:49px;
 }

 .new{
   display:flex;
 }
 
.new__preview{
  margin-right: 20px;
}
.new__wrape{
  display:flex;
  flex-direction: column; 
}
.new__data{
  font-size:14px;
  font-family: "Roboto Light"
}
.new__name{
  margin-top:5px;
  letter-spacing: 1px;
}
.new__content{
  text-align: left;
 margin-top:11px;
  font-size: 18px;
  color: rgb(101, 100, 100);
  line-height: 30px;
  word-spacing:0px;
}
 
 .news__pagination{
   margin-top:33px;
  display:flex; 
  justify-content: center;
 }
 .news__paginations-page-wrap{
  display:flex;
  align-items: center;
  justify-content: center;   /*Обертка для пагинации */
  margin:1em;
 }
.news__pagination-pages{
  padding: 0em;              
  display: inline-flex;
}
 .news__pagination-prev-next
 {
   color:black;
   font-weight: bold;
    display:inline-flex;
    align-items: center;
    margin:0;
 }
 .news__pagination-prev-next:hover{
   color:rgb(75, 115, 181);
 }
 .news__pagination-display{
   margin-left:-27px;
  display:flex;
  align-items: center;                  /* текст страница из*/
  justify-content: center;
  font-size: 14px;
  color: rgb(101, 100, 100);

 }
.news__pagination-item{
  padding: 0.5em;            /* Страницы пагинации */
  list-style-type: none;       
}
.news__pagination-link{
  font-weight: bold;
  color:black;             /* Страницы пагинации ,ссылки*/
}
.news__pagination-link:hover{
  color:rgb(75, 115, 181);
}
footer{
  margin-top:38px;
  background-color: rgb(75, 115, 181);
}
.footer__row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}
.footer__copyright{
  width:20%;
  font-size: 14px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
  text-align: left;
}

.authors__loftschool{
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
}
.footer__logo{

}
.footer__social{
  display: flex;
  flex-direction: column;
}
.social__title{
  font-size:14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.social__logo{
  display: flex;
}
.social__list{
 display: flex;
 justify-content: space-between;
}
.social__item{
  display:flex;
  justify-content: center;
border-radius: 50%;
  width: 20px;
  height: 20px;
background-color:#d2def3;
}
.social__img{
 align-items: center;
}
.social__item:hover{
  background-color:white;
}
