body{
  font-family: 'Roboto','Hevetica', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  background-color: rgb(75, 115, 181);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.content-wrap{
  display: flex;
  width: 1100px;
  margin: 0 auto;
}
.container-head {
  width: 1100px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.contacts{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.phone{
      font-size: 21px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase; 
      align-self:  baseline;
}
.hours{  
      font-size: 14px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-decoration: underline;   
      align-self:  flex-end;
}
a{
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

 .menu__item{ 
  padding:1em; 
 }
 .menu__image{
   margin-right: 1em;
 }
 .menu__link{
   color: rgb(75, 115, 181);
   display:flex;
 }
 .menu__link:hover{
   color:black;
 }
 .menu-text{
   letter-spacing: 2px;
  font-size: 12px;
  font-family: "Roboto";        
  color: rgb(34, 31, 31);
  font-weight: bold;
  text-transform: uppercase;
 }
 .airplane_img{
   display:flex;       
 }
 
 .rate-body-wrap{
   display:flex;  
   flex-direction: column;
 }
 .title{
   font-size: 50px;
   font-weight: bold;
 }
 .rates-list{
   display: flex;
   
 }
 .rate{
  padding: 1em;
  display:flex;
  align-items: center;
  flex-direction: column;
 }
 .rate__logo1{
  width: 70px;
height: 70px;
border-radius: 50%;
background: url('/img/flower.png') center no-repeat  rgb(75, 115, 181);
align-content: center;   
 }
 .rate__logo2{
  width: 70px;
height: 70px;
border-radius: 50%;
background: url('/img/star.png') center no-repeat  rgb(75, 115, 181);
align-content: center;   
 }
 .rate__logo3{
  width: 70px;
height: 70px;
border-radius: 50%;
background: url('/img/painter-palette.png') center no-repeat  rgb(75, 115, 181);
align-content: center;   
 }
 .rate__name{
   margin:auto;
   padding :2em 2em 0em 2em;
   font-size: 12px;
   font-weight: bold;          
   text-transform: uppercase; 
  color: rgb(33, 33, 33);
  text-align: center;
 }
 .rate__inform{
  text-align: center;
  font-size: 20px;
  font-family: "Roboto Light";
  color: rgb(34, 31, 31);
 }
.rate__list{
 
  font-size: 20px;
  font-family: "Roboto Light";
  color: rgb(34, 31, 31);
}
.rate__inform-margin{
  margin-bottom: 0;
}
 .rate__price{
  font-size: 17.76px;
  font-family: "Roboto Regular";
  color: rgb(32, 32, 32);
  text-align: center; 
 }
 .price-font{
   display: inline;
   font-size: 50px;
 }
 
 .main-content-news{
   margin-top: 70px;
 }
 .news__title{
  font-size: 50px;
  font-weight: bold;
 }
 .news{
  display: flex;
  width:80%;
  padding:0em 1em 1em 1em;
  border: 1em;
  font-size: 18px;
  font-family: "Roboto Light";
  margin: 0%;
 }

 .news__data{
  font-size: 14px;
  font-family: "Roboto Light";
 }
 .news__wrape-content{
   display:flex;
   flex-direction: column;
   margin-top: 1em;
   
 }
 .news__preview{
  display:flex;
  flex-direction: column;
  justify-content:  center;
  padding: 0 1em 0em 0;
 }
 .news__name{
  font-size: 18px;
 }
 .news__content{
  font-size: 18px;
 }
 .news__pagination{
  display:flex; 
  justify-content: center;
 }
 .news__paginations-page-wrap{
  display:flex;
  align-items: center;
  justify-content: center;   /*Обертка для пагинации */
  margin:1em;
 }
.news__pagination-pages{
  padding: 0em;              
  display: inline-flex;
}
 .news__pagination-prev-next
 {
   color:black;
   font-weight: bold;
    display:inline-flex;
    align-items: center;
    margin:0;
 }
 .news__pagination-prev-next:hover{
   color:rgb(75, 115, 181);
 }
 .news__pagination-display{
  display:flex;
  align-items: center;                  /* текст страница из*/
  justify-content: center;
  font-size: 14px;
  color: rgb(101, 100, 100);

 }
.news__pagination-item{
  padding: 0.5em;            /* Страницы пагинации */
  list-style-type: none;       
}
.news__pagination-link{
  font-weight: bold;
  color:black;             /* Страницы пагинации ,ссылки*/
}
.news__pagination-link:hover{
  color:rgb(75, 115, 181);
}
footer{
  background-color: rgb(75, 115, 181);
}
.footer-wrap{
  display: flex;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.copyright{
  width:20%;
  font-size: 14px;
  font-family: "Roboto Light";
  color: rgb(255, 255, 255);
}
.authors__loftschool{
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
}
.footer-logo{

}
.social{
  display: flex;
  flex-direction: column;
}
.social__title{
  color: rgb(255, 255, 255);
}
.social__logo{
  display: flex;
}
.social__list{
 display: flex;
 justify-content: space-between;
}
.social__item{


border-radius: 50%;

  width: 20px;
  height: 20px;
background-color:#d2def3;
}
.social__item:hover{
  background-color:white;
}
