.partners{
    width: 92%;
    margin-top:0%;
    border-width: 1px;
    border-color: rgb(232, 233, 237);
    border-style: solid;
}

  
.partners__title{
    margin-top:7%;
    text-align: center;
    font-size: 18px; 
    color: rgb(34, 31, 31);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.111;       
}
.partners__list{
    margin-top:-2%;
    margin-right: 2%;
    display:flex;
    flex-wrap: wrap;
    margin-bottom:7%;
}
.partners__item{
    padding-top:14.5%;
   
    flex:1 1 240px;
   
}
.partner__link{
    display:flex;
    justify-content: center;
}
.partner__logo{
    max-width:200px;
    max-height: 60px;
    display:flex;
    filter:opacity(0.7) grayscale(1);
}
.partner__logo:hover{
    filter:opacity(1) grayscale(0);
}
