.pattern {
  margin-top: 10px;
    width: 94%;
  
    background-image: url("/newmaket/img/reviews/pattern.png")
  }
  
  
  .pattern__content {
    padding: 20px 10px;
     font-weight: 300;
    font-size: 18px;
    color: #fff;
    line-height: 1.667;
    
    text-align: center;
  }
  .pattern__link{
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
  }
  .pattern__phone{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase; 
    align-self:  baseline;
  }
  
  .pattern__content-text {
    font-weight: bold;
    color: orange;
  }