.title{
    font-size: 49px;
    font-weight: bold;
  }
  
.reviews{
    margin-top: 15px;
  }
  
  .reviews__list{
   margin-top:20px;
    display:flex;
    flex-direction: column;
  }
  
  .reviews__item{
  margin-top: 23px;
  margin-bottom: 27px;
  }
  .reviews__item{
    margin-top: 23px;
    margin-bottom: 27px;
    }
    .reviews__item:nth-child(2){
      margin-bottom: 40px;
    }
  .review{
    display:flex;
  }
  .review__preview{
 margin-right:37px;
  }
  .review__img{ 
    
   display:block;
   width: 160px;
   height: 160px;
   border-radius:50%;
   overflow: hidden;
  }
  .review__img_gray{
    filter:grayscale(1);
  }
  .new1, .new2, .new3{
    max-width: 160px;
    max-height: 160px;
  }
 .review__wrape{
   display:flex;
   flex-direction: column; 
 }
 .review__data{
   font-size:14px;
  font-weight: 300;
 }
 .review__name{
   margin-top:5px;
   letter-spacing: 1px;
 }
 .review__content{
   letter-spacing: -0.2px;
   text-align: left;
  margin-top:11px;
   font-size: 18px;
   color: rgb(101, 100, 100);
   line-height: 30px;
   word-spacing:0px;
 }
  .news__pagination{
    margin-top:10px;
   display:flex; 
   justify-content: center;
   margin-left:30px;
  }
  .news__pagination_review{
  margin-top:0px;
  margin-left:-40px;
  }
  .news__paginations-page-wrap{
   display:flex;
   align-items: center;
   justify-content: center;   /*Обертка для пагинации */
   margin:1em;
 
  }
 .news__pagination-pages{
   padding: 0em;              
   display: inline-flex;
   margin-right: 10px;
  
 }
  .news__pagination-prev-next
  {
    color:black;
    font-weight: bold;
     display:inline-flex;
     align-items: center;
     margin-right:14px;
  }
  .news__pagination-item_firstpage {
    background:  rgb(75, 115, 181);
    border-radius: 3px;
    
    
  }
  .news__pagination-item_firstpage {
    color:white;
  }

  .news__pagination-prev-next:hover{
    color:rgb(182, 206, 245);
  }
  .news__pagination-display{
    margin-left:-27px;
   display:flex;
   align-items: center;                  /* текст страница из*/
   justify-content: center;
   font-size: 14px;
   color: rgb(101, 100, 100);
 
  }
 .news__pagination-item{       /* Страницы пагинации */
  padding: 5px 8px;                                
   list-style-type: none;       
 }
 .news__pagination-link{
   font-weight: bold;
   color:black;             /* Страницы пагинации ,ссылки*/
 }
 .news__pagination-link:hover{
   color:rgb(75, 115, 181);
 }

  .news__pagination-item_firstpage:hover .news__pagination-link {
  color:white;
 }