.feedback{

    width: 700px;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 17px;
}
.title_feedback{
    font-size: 49px;
}
.feedback__content {
    background-color: rgb(241, 241, 241);
    padding: 50px 70px;
  }
  .form__row {
      margin-top:30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .form__col {
    width: 270px;
  }
  .form__label {
    font-size: 14px;
      color: rgb(34, 31, 31);
    display: block;
    padding-bottom: 10px;
  }
  .form__input {
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px;
    resize:vertical;
    border: 1px solid transparent;
  }
  .form__textarea {
    width: 100%;
    
  }
  .form__radios {
    display: flex;
  }
  
  .form__radio {
    display: flex;
    margin-right: 20px;
    position: relative;
  }
  .form__radio-title{
    user-select: none;
  }
  .form__radio-elem {
    position: absolute;
    left: -9999px;
  }
  
  .form__radio-fake {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    margin-right: 5px;
    position: relative;
  }
  
  .form__radio-fake::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0;
    border-radius: 50%;
    background-color:rgb(75, 115, 181);
  }
  .form__col--right{
    display:flex;
    justify-content: flex-end;
  }
  
  

  
  
  .form__radio-elem:checked + .form__radio-fake {
    border-color: rgb(75, 115, 181);
  }
  
  .form__radio-elem:checked + .form__radio-fake::after {
    width: 8px;
    height: 8px;
  }
  
  .form__radio-elem:checked + .form__radio-fake + .form__radio-title {
    color: rgb(75, 115, 181);
  }
  
  .form__button {
  
   position:relative;
    padding: 15px 45px 15px 20px;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background: rgb(75, 115, 181);
    transition: 1s;
  }

  
  .form__button::after,
  .form__button::before{
    position: absolute;
    content: " ";
    top: 30%;
    left: 70%;
    margin-left: 10px;
    width: 20px;
    height:20px;
    background:url(/img/spritesheet.png) ;
    transition: 1s;

  }
  .form__button::after{
  
    background-position: -192px -5px;
  }
  .form__button:hover::after{
      opacity: 0;
  }
  .form__button:before
  {
    background-position: -219px -5px;
  }
  
  .form__button:hover {
    background: #fff;
    color:rgb(75, 115, 181);

  }
  